# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files - Configuration cloud sensible
.env*
!.env.development
!.env.production
# Note: .env.development et .env.production sont des templates
# .env.local contient les vraies variables et ne doit jamais être commité

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Logs et cache
logs
*.log
.cache/
.temp/

# Configuration IDE
.vscode/settings.json
.idea/

# OS files
.DS_Store
Thumbs.db